<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  <div id="fb-root"></div>
  
  
    {% include header.html %}
  
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <!--<noscript id="deferred-styles">
      <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    </noscript>-->

    <!--CSS-->
    <!--<script>var loadDeferredStyles=function(){var e=document.getElementById("deferred-styles"),t=document.createElement("div");t.innerHTML=e.textContent,document.body.appendChild(t),e.parentElement.removeChild(e)},raf=requestAnimationFrame||mozRequestAnimationFrame||webkitRequestAnimationFrame||msRequestAnimationFrame;raf?raf(function(){window.setTimeout(loadDeferredStyles,0)}):window.addEventListener("load",loadDeferredStyles);</script>-->
    <!--Facebook-->
    <script>!function(e,n,t){var o,c=e.getElementsByTagName(n)[0];e.getElementById(t)||(o=e.createElement(n),o.id=t,o.src="//connect.facebook.net/nb_NO/sdk.js#xfbml=1&version=v2.6&appId=217800944946430",c.parentNode.insertBefore(o,c))}(document,"script","facebook-jssdk");</script>
    <!--Twitter-->
    <script>!function(t,e,r){var n,s=t.getElementsByTagName(e)[0],i=/^http:/.test(t.location)?"http":"https";t.getElementById(r)||(n=t.createElement(e),n.id=r,n.src=i+"://platform.twitter.com/widgets.js",s.parentNode.insertBefore(n,s))}(document,"script","twitter-wjs");</script>
    <!--Google Analytics-->
    <script>!function(e,t,a,n,c,s,o){e.GoogleAnalyticsObject=c,e[c]=e[c]||function(){(e[c].q=e[c].q||[]).push(arguments)},e[c].l=1*new Date,s=t.createElement(a),o=t.getElementsByTagName(a)[0],s.async=1,s.src=n,o.parentNode.insertBefore(s,o)}(window,document,"script","https://www.google-analytics.com/analytics.js","ga"),ga("create","UA-79739457-1","auto"),ga("send","pageview");</script>
  </body>

</html>
