---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header padd">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" 
              itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}
        </time>
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            {% assign authorCount = post.author | size %}
        
            {% if authorCount == 1 %}
                {% assign author = page.author | first %}
                <a href="{{ site.baseurl }}/authors/{{ author }}" itemprop="name">
                    {{ site.data.authors[author].name }}
                </a>
            {% else %}
                {% for author in page.author %}
                    {% if forloop.first %}
                        <a href="{{ site.baseurl }}/authors/{{ author }}" itemprop="name">
                            {{ site.data.authors[author].name }}
                        </a>
                    {% elsif forloop.last %}
                        &#38; 
                        <a href="{{ site.baseurl }}/authors/{{ author }}" itemprop="name">
                            {{ site.data.authors[author].name }}
                        </a>
                    {% else %}
                        ,
                        <a href="{{ site.baseurl }}/authors/{{ author }}" itemprop="name">
                            {{ site.data.authors[author].name }}
                        </a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </span>
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  
  <div class="padd">
    <div id="twitter-container">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ site.twitter_username }}">Tweet</a>
    </div>
    <div class="fb-share-button" data-href="{{ page.url | prepend: site.url }}" data-layout="button_count" data-mobile-iframe="true"></div>
  </div>
  
  <div class="padd">
    {% for tag in page.tags %}
        <a class="post-tag" href="{{ site.baseurl }}/tag/{{ tag | downcase }}" itemprop="name">
            #{{ tag }}
        </a>
    {% endfor %}
  </div>

</article>
